.site-layout .site-layout-background {
    background: #fff;
  }
    [data-theme="dark"] .site-layout .site-layout-background {
      background: #141414;
    }

.ant-layout-content{
  margin: 10px;
}

.ant-list{
  background-color: white;
  
}

.toDoList{
  display: flex;
  flex-wrap: wrap;
  width:100%;
}

.toDoList > *{
  margin: 1%;
  min-width: 23%;
}

.addBtn{
  margin-left: 10px;
}


